In [16]:
import numpy as np
import pandas as pd

In [17]:
from pandas import Series,DataFrame

5.1 Intro to Data Structures
Series and DataFrames

Series

In [18]:
obj = pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [19]:
obj[1]

np.int64(7)

In [20]:
obj.array

<NumpyExtensionArray>
[np.int64(4), np.int64(7), np.int64(-5), np.int64(3)]
Length: 4, dtype: int64

In [21]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [22]:
obj2 = pd.Series([4,7,-5,3],index=['d','b','a','c'])

In [23]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [24]:
obj2.array

<NumpyExtensionArray>
[np.int64(4), np.int64(7), np.int64(-5), np.int64(3)]
Length: 4, dtype: int64

In [25]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [26]:
obj2[['c','a']]

c    3
a   -5
dtype: int64

In [27]:
obj2[obj2<0]

a   -5
dtype: int64

In [28]:
obj2**2

d    16
b    49
a    25
c     9
dtype: int64

In [29]:
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [31]:
obj2['c']**obj2['c']

np.int64(27)

In [32]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}

In [33]:
sdata

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [37]:
'Texas' in sdata

True

In [38]:
obj3 = pd.Series(sdata)

In [39]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [40]:
obj3.index

Index(['Ohio', 'Texas', 'Oregon', 'Utah'], dtype='object')

In [41]:
obj3['Utah']

np.int64(5000)

In [42]:
obj3.to_dict()

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [43]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [46]:
states = ['Cali','Ohio','Delaware','Oregon']
obj4 = pd.Series(sdata , index=states)

In [47]:
obj4

Cali            NaN
Ohio        35000.0
Delaware        NaN
Oregon      16000.0
dtype: float64

In [48]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [49]:
obj3+obj4

Cali            NaN
Delaware        NaN
Ohio        70000.0
Oregon      32000.0
Texas           NaN
Utah            NaN
dtype: float64

In [51]:
obj4.name = 'population'

In [53]:
obj4.index.name = 'state'

In [54]:
obj4

state
Cali            NaN
Ohio        35000.0
Delaware        NaN
Oregon      16000.0
Name: population, dtype: float64

Dataframes

In [55]:
data = {"state": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
        "year": [2000, 2001, 2002, 2001, 2002, 2003],
        "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

In [56]:
frame = pd.DataFrame(data)

In [57]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [58]:
frame.head()
frame.tail()

    state  year  pop
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [60]:
pd.DataFrame(data,columns=['pop','year','state','debt'])

   pop  year   state debt
0  1.5  2000    Ohio  NaN
1  1.7  2001    Ohio  NaN
2  3.6  2002    Ohio  NaN
3  2.4  2001  Nevada  NaN
4  2.9  2002  Nevada  NaN
5  3.2  2003  Nevada  NaN